.chart-container-bar {
  width: 100% !important;
  height: 20rem !important;
  margin: 1rem auto 3rem;

  &.history {

    .chart-canvas {
      height: 100% !important;
    }
  }

  &.max-height {
    height: 70ex !important;
  }
}

.chart-container {
  width: 100% !important;
  height: 18rem !important;
  margin: 1rem auto 3rem;

  &.history {

    .chart-canvas {
      height: 100% !important;
    }
  }

  &.max-height {
    height: 70ex !important;
  }
}

.country-title {
  text-align: center;
}

.chart-canvas {
  //width: 20rem !important;
  //height: 20rem !important;
}

@media (max-width: 991px) {
  .chart-container {
    height: 15rem !important;
  }
}
