<section
  [ngClass]="chartData.name === 'departments' ? 'chart-container-bar' : 'chart-container' "
  [class.history]="true" [class.max-height]="maxHeight">
<!--  this.sharedService.darkModeEnable ? 'btn-outline-light' : 'btn-outline-dark' ]-->
  <div class="row justify-content-md-center">
    <div class="col-md-8">
     <h5 class="country-title" *ngIf="chartData && !chartData.flag">{{chartData.flag}} {{chartData.title}}</h5>
    </div>
  </div>
  <div *ngIf="chartData.flag" class="row justify-content-sm-center">

  </div>
  <canvas [id]="'canvas-chart-' + chartData.name" [width]="'100%'" height="400" class="chart-canvas"></canvas>



</section>
