.alert-critic {
  border-color: rgba(255, 165, 0, 0.2);
  color: rgb(255, 165, 0);
  background-color: rgba(255, 165, 0, 0.1);
}

.info-box-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%
}

.box-info-item {
  margin: 0 0.3rem;
}

h6 {
  margin: 0;
}

.progress-bar {
  background-color: limegreen;

  &.mortality {
    background-color: red;
  }
}

.rates-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.5rem 1rem;
}

.rate-bar {
  font-size: 0.8rem;
  margin: 0 0.5rem;
}

@media (max-width: 991px) {
  .info-box-container {
    grid-template-columns: 50% 50%;
    padding: 0 0.5rem;
  }

  .box-info-item {
    padding: 0 0.3rem;
  }

  .alert {
    padding: 0.3rem;
  }
}


