.alert-critic {
  border-color: rgba(255, 165, 0, 0.2);
  color: rgb(255, 165, 0);
  background-color: rgba(255, 165, 0, 0.1);
}

.info-box-container {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%
}

.box-info-item {
  margin: 0 0.3rem;
}

h6 {
  margin: 0;
  font-variant: all-petite-caps;
}

.progress-bar {
  background-color: limegreen;

  &.mortality {
    background-color: red;
  }
}

.rates-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  padding: 0.5rem 0;
}

.see-more {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  margin: 0.5rem 0;
  font-variant: all-petite-caps;
  text-decoration: none;


  &-link {
    color: white;
    background-color: #343a40;
    width: 25%;
    font-weight: 300;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    &:hover {
      text-decoration: none;
    }
  }
}
.rate-bar {
  font-size: 0.7rem;
  margin: 0 0.5rem;
}

@media (max-width: 991px) {
  .info-box-container {
    grid-template-columns: 50% 50%;
    padding: 0 0.5rem;
  }

  .box-info-item {
    padding: 0 0.3rem;
  }

  .alert {
    padding: 0.3rem;
  }

  h6 {
    font-size: 0.9rem;
  }
}


