
<div *ngIf="currentCountry && currentCountry.population > 0">
  <h5>
    <i class="fas fa-users"></i> Población: {{populationFormated}}
  </h5>
</div>
<section class="row info-box-container" *ngIf="currentCountry">

  <div class="box-info-item">
    <div class="alert alert-warning text-center" role="alert">
      <h6>
        <span><i class="fas fa-virus"></i><span class="d-sm-inline"> Casos: </span>{{currentCountry.cases}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item">
    <div class="alert alert-danger text-center" role="alert">
      <!-- ☠ -->
      <h6>
        <span><i class="fas fa-times"></i> <span class="d-sm-inline"> Muertes: </span>{{currentCountry.deaths}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item">
    <div class="alert alert-success text-center" role="alert">
      <h6>
        <span><i class="fas fa-heartbeat"></i> <span class="d-sm-inline"> Recuperados: </span>{{currentCountry.cured}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item">
    <div class="alert alert-info text-center" role="alert">
      <h6>
        <span><i class="fas fa-bed"></i> <span class="d-sm-inline"> Enfermos: </span>{{currentlySick}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item">
    <div class="alert alert-critic text-center" role="alert">
      <h6>
        <span><i class="fas fa-procedures"></i> <span class="d-sm-inline"> Críticos UCI: </span>{{currentCountry.critic}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item" *ngIf="currentCountry.tested">
    <div class="alert alert-primary text-center" role="alert">
      <h6>
        <span><i class="fas fa-vials"></i><span class="d-sm-inline"> Test Realizados: </span>{{currentCountry.tested}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item">
    <div class="alert alert-warning text-center" role="alert">
      <h6>
        <span><i class="fas fa-user-plus"></i> <span class="d-sm-inline"> Casos Hoy: </span>{{newCases}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item" *ngIf="newDeaths">
    <div class="alert alert-danger text-center" role="alert">
      <h6>
        <span><i class="fas fa-user-times"></i><span class="d-sm-inline"> Muertes Hoy: </span>{{newDeaths}}</span>
      </h6>
    </div>
  </div>
  <div class="box-info-item" *ngIf="casesPerMillionPeople">
    <div class="alert alert-secondary text-center" role="alert">
      <h6>
        <span> <i class="fas fa-people-arrows"></i><span class="d-sm-inline"> Casos por 1M de habitantes: </span>{{casesPerMillionPeople}}</span>
      </h6>
    </div>
  </div>
<!--  <div class="box-info-item" *ngIf="populationInfected">-->
<!--    <div class="alert alert-secondary text-center" role="alert">-->
<!--      <h6>-->
<!--        <span><strong>%</strong> <span class="d-sm-inline"> de la población infectada: </span>{{populationInfected}}</span>-->
<!--      </h6>-->
<!--    </div>-->
<!--  </div>-->
</section>
<section class="rates-wrapper" *ngIf="currentCountry">
  <div class="rate-bar">
    <p class="m-0">Tasa de Recuperación:</p> <strong>{{rates.recovery.value}}%</strong>
    <div class="progress" style="height: 20px;">
      <div class="progress-bar" role="progressbar"
           [ngStyle]="rates.recovery.style"
           [attr.aria-valuenow]="rates.recovery.value" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>
  <div class="rate-bar">
    <p class="m-0">Tasa de Mortalidad:</p> <strong>{{rates.mortality.value}}%</strong>
    <div class="progress" style="height: 20px;">
      <div class="progress-bar mortality" role="progressbar"
           [ngStyle]="rates.mortality.style"
           [attr.aria-valuenow]="rates.mortality.value" aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
  </div>
</section>
