.table-percentages {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  align-items: center;
  justify-content: center;
}

.title {
  display: grid;
  justify-content: center;
  font-size: 12px;
  text-align: center;
  font-variant: all-petite-caps;
  margin: 0;
  padding: 0.2rem 0;
  color: #343a40;
}

.progress {
  z-index: -1;
  height: 100%;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.percentage-wrapper {
  padding: 0 1rem;
  width: 95%;
  border: 1px solid #d0d0d0;
  border-radius: 0.3rem;
  position: relative;
  //background-color: #17a2b8;

  &.recovered {
    .progress-bar {
      background-color: limegreen;
    }
  }

  &.sick {
    .progress-bar {
      background-color: orange;
    }
  }

  &.death {
    .progress-bar {
      background-color: red;
    }
  }

}
