<nav class="navbar navbar-dark bg-dark" >
  <span class="toggle-responsive-menu d-lg-none animated"
        [class.close]="!slideOut"
        (click)="toggleResponsiveMenu()">
    <hr>
    <hr>
    <hr>
  </span>
  <a class="navbar-brand" routerLink="/">
    🇨🇴
    COVID-19 COLOMBIA
    🦠
  </a>
  <div class="row" *ngIf="!isMobile">
    <div class="text-light justify-content-md-center">
            <h6 class="m-0">Última Actualización: {{lastUpdateDate}}</h6>
<!--      <h6 class="text-light">weongiourtgnoirt</h6>-->
    </div>
  </div>
  <ul class="navbar-list"
      [class.animated]="isMobile"
      [class.show]="showResponsiveMenu"
      [class.slideInLeft]="showResponsiveMenu"
      [class.slideOutLeft]="slideOut">
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/">Inicio</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/colombia">Colombia</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/autoevaluacion">Autoevaluación</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/informacion">Información</a>
    </li>
    <!--    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
    <!--      <a class="link" routerLink="/novedades">Novedades</a>-->
    <!--    </li>-->
  </ul>
</nav>
