<div class="container">
    <div class="row justify-content-md-center">
      <div class="col-sm-5 col-md-6">
        <button type="button" class="close" aria-label="Close" routerLink="/countries">
          <span aria-hidden="true" [ngClass]="this.sharedService.darkModeEnable ? 'close-button-dark' : ''">
            <i class="fa fa-times"></i>
          </span>
        </button>
        <h2 class="title text-center" *ngIf="chartData">{{chartData.flag}}{{chartData.title}}</h2>
      </div>

    </div>
      <div class="col-sm-12 col-md-6">
        <div class="btn-group btn-block">
          <button type="button" (click)="selectWeek(1)"
          [ngClass]="[weekSelected === 1 ? 'active': '',
           this.sharedService.darkModeEnable ? 'btn-outline-light' : 'btn-outline-dark']"
          class="btn btn-sm ">
            1 Semana
          </button>
          <button type="button" (click)="selectWeek(2)"
                  [ngClass]="[weekSelected === 2 ? 'active': '',
                  this.sharedService.darkModeEnable ? 'btn-outline-light' : 'btn-outline-dark' ]"
                  class="btn btn-sm ">
            2 Semanas
          </button>
          <button type="button"
                  (click)="selectWeek(3)"
                  [ngClass]="[weekSelected === 3 ? 'active': '',
                  this.sharedService.darkModeEnable ? 'btn-outline-light' : 'btn-outline-dark']"
                  class="btn btn-sm ">
            3 Semanas
          </button>
        </div>
      </div>
      <br>
      <div class="row justify-content-md-center">
        <div class="col-md-8">
          <div class="btn-group btn-block">
            <button type="button" (click)="enableTypeChart('lineal')"
            class="btn btn-sm"
            [ngClass]="[ this.typeChart !== 'logarithmic' ? 'active':'',
              this.sharedService.darkModeEnable ? 'btn-outline-light' : 'btn-outline-dark' ]">
            Lineal
            </button>
            <button type="button" (click)="enableTypeChart('logarithmic')"
                    class="btn btn-sm"
                    [ngClass]="[this.typeChart === 'logarithmic' ? 'active': '',
                    this.sharedService.darkModeEnable ? 'btn-outline-light' : 'btn-outline-dark' ]">
              Logaritimica
            </button>
          </div>
        </div>
      </div>
      <div class="col-md-12">
        <app-chart [typeChart]="typeChart" class="history-chart" [chartData]="chartData" *ngIf="chartData"></app-chart>
      </div>
      <div class="col-md-12">
        <app-chart [typeChart]="typeChart" class="history-chart" [chartData]="chartDataDeaths" *ngIf="chartDataDeaths"></app-chart>
      </div>
    <hr class="divider d-lg-none">
      <div class="col-md-12">
        <app-info-boxes class="info-boxes" [currentCountry]="country"></app-info-boxes>
      </div>

    <div class="col-12 col-sm-6 ">
      <button type="button" class="btn btn-dark btn-lg btn-block top-margin-more-button" routerLink="/countries">Más Países 🌎</button>
    </div>
</div>




