<div *ngIf="placesList">
  <h5 *ngIf="!showCities" class="title text-center">Detalle Casos</h5>

  <div  class="scroll-table-in-y">
    <table class="table table-hover tableFixHead" [ngClass]="isMobile ? 'table-sm text-table-place-mobile' : 'text-table-place'" style="height: 100%">
      <thead class="thead-dark list-header" [ngClass]="isMobile ? 'list-header-mobile' : 'list-header' ">
      <tr>
        <th *ngIf="!showCities">
          <i class="fas fa-map-pin"></i>
            <span *ngIf="isMobile"><br>Departamento</span>
            <span *ngIf="!isMobile"> Departamento</span>
        </th>
        <th *ngIf="showCities">
          <i class="fas fa-map-pin"></i>
          <span *ngIf="isMobile"><br>Ciudad</span>
          <span *ngIf="!isMobile"> Ciudad</span>
        </th>
        <th><i class="fas fa-virus"></i>
<!--          <i class="fas fa-sort"></i>-->
          <span *ngIf="isMobile">Casos</span>
          <span *ngIf="!isMobile"> Casos</span>
        </th>
        <th><i class="fas fa-user-times"></i>
          <span *ngIf="isMobile">Muertes</span>
          <span *ngIf="!isMobile"> Muertes</span>
        </th>
        <th><i class="fas fa-heartbeat"></i>
          <span *ngIf="isMobile">Recuperados</span>
          <span *ngIf="!isMobile"> Recuperados</span>
        </th>
        <th><i class="fas fa-hospital"></i>
          <span *ngIf="isMobile">Hospital</span>
          <span *ngIf="!isMobile"> En Hospital</span>
        </th>
        <th><i class="fas fa-procedures"></i>
          <span *ngIf="isMobile">UCI</span>
          <span *ngIf="!isMobile"> En Hospital UCI</span>
        </th>
        <th><i class="fas fa-home"></i>
          <span *ngIf="isMobile">Casa</span>
          <span *ngIf="!isMobile"> En Casa</span>
        </th>
      </tr>
      </thead>
      <tbody *ngIf="!showCities">
        <tr (click)="openModal(placesData.dept)"  *ngFor="let placesData of placesList">
          <th scope="row">{{placesData.dept}}</th>
          <td>{{placesData.cases}}</td>
          <td>{{placesData.deaths}}</td>
          <td>{{placesData.recovered}}</td>
          <td>{{placesData.hospital}}</td>
          <td>{{placesData.critic}}</td>
          <td>{{placesData.inHouse}}</td>
        </tr>
      </tbody>
      <tbody *ngIf="showCities" >
      <tr  *ngFor="let placesData of placesList">
        <th scope="row">{{placesData.city}}</th>
        <td>{{placesData.cases}}</td>
        <td>{{placesData.deaths}}</td>
        <td>{{placesData.recovered}}</td>
        <td>{{placesData.hospital}}</td>
        <td>{{placesData.critic}}</td>
        <td>{{placesData.inHouse}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
