.scroll-table-in-y{
  position: relative;
  height: 400px;
  overflow-y: scroll;
}
.tableFixHead          { overflow: auto; height: 10px; position: absolute }
.tableFixHead thead th { position: sticky; top: 0; }

.text-table-place {
  font-size: 0.8rem;
  td {
    text-align: center;
  }
}

.text-table-place-mobile {

  td {
    font-size: 0.5rem;
    text-align: center;
  }
}


.list-header {
  font-size: 0.8rem;
}

.name-place {
  font-size: 0.1rem;
}
.list-header-mobile {
  tr {
    font-size: 0.6rem;
    text-align: center;
  }
}

.list-header-modal {
  font-size: 0.1rem;
}



