<section class="dark-theme">

  <nav class="navbar navbar-dark bg-dark" >
  <span class="toggle-responsive-menu d-lg-none animated"
        [class.close]="!slideOut"
        (click)="toggleResponsiveMenu()">
    <hr>
    <hr>
    <hr>
  </span>
  <a class="navbar-brand" routerLink="/">
    🇨🇴
    COVID-19 COLOMBIA
    🦠
  </a>
  <div class="row" *ngIf="!isMobile; else shareBtn">
    <div class="text-light justify-content-md-center">
      <h6 class="last-update">Última Actualización: {{lastUpdateDate}}</h6>
    </div>
  </div>
  <ng-template #shareBtn>
    <div (click)="share()" class="share-button">
      <img src="assets/icons/share-icon.svg" alt="Share Button">
    </div>
  </ng-template>
  <ul class="navbar-list"
      [class.animated]="isMobile"
      [class.show]="showResponsiveMenu"
      [class.slideInLeft]="showResponsiveMenu"
      [class.slideOutLeft]="slideOut">
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/countries"><i class="fas fa-globe-americas"></i> Mas Paises</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/"><i class="fas fa-flag"></i> Colombia</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/autoevaluacion"><i class="fas fa-diagnoses"></i> Autoevaluación</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/informacion"><i class="fas fa-info"></i> Información</a>
    </li>
    <!--    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
    <!--      <a class="link" routerLink="/novedades">Novedades</a>-->
    <!--    </li>-->
  </ul>
</nav>

</section>
