

<nav class="navbar navbar-dark bg-dark" >
  <span class="toggle-responsive-menu d-lg-none animated"
        [class.close]="!slideOut"
        (click)="toggleResponsiveMenu()">
    <hr>
    <hr>
    <hr>
  </span>
  <a class="navbar-brand" routerLink="/">
    🇨🇴
    COVID-19 COLOMBIA
    🦠
  </a>
  <div class="row" *ngIf="!isMobile; else shareBtn">
    <div class="text-light justify-content-md-center">
      <h6 class="last-update">Última Actualización: {{lastUpdateDate}}</h6>
    </div>
  </div>
  <ng-template #shareBtn>
    <div class="share-button">
      <div class="navbar-list-option custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               id="customSwitch1" [checked]="this.sharedService.darkModeEnable"
               (click)="this.switchDarkMode()" >
        <label class="custom-control-label" for="customSwitch1">
          <i [ngClass]="this.sharedService.darkModeEnable ? 'far fa-moon' : 'far fa-lightbulb' "></i>
        </label>
      </div>
        <div class="share-icon">
          <img (click)="share()" src="assets/icons/share-icon.svg" alt="Share Button">
        </div>
    </div>
  </ng-template>
  <ul class="navbar-list"
      [class.animated]="isMobile"
      [class.show]="showResponsiveMenu"
      [class.slideInLeft]="showResponsiveMenu"
      [class.slideOutLeft]="slideOut">
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/countries"><i class="fas fa-globe-americas"></i> Mas Paises</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/"><i class="fas fa-flag"></i> Colombia</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/autoevaluacion"><i class="fas fa-diagnoses"></i> Autoevaluación</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/informacion"><i class="fas fa-info"></i> Información</a>
    </li>
    <li>
      <div class="navbar-list-option custom-control custom-switch">
        <input type="checkbox"
               class="custom-control-input"
               id="customSwitch1" [checked]="this.sharedService.darkModeEnable"
               (click)="this.switchDarkMode()" >
<!--        <i class="far fa-lightbulb"></i>-->
        <label class="custom-control-label" for="customSwitch1">
          <i [ngClass]="this.sharedService.darkModeEnable ? 'far fa-moon' : 'far fa-lightbulb' "></i>
        </label>
      </div>
    </li>
    <!--    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
    <!--      <a class="link" routerLink="/novedades">Novedades</a>-->
    <!--    </li>-->
  </ul>
</nav>

