.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.container {
  margin-top: 4rem;
}

.chart-modal {
  visibility: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  top: 4rem;
  z-index: 11;
  background-color: #fff;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid lightgray;

  &.show {
    visibility: visible;
    position: fixed;
    height: 30rem;
  }

  .modal-body {
    height: 100%;
    width: 100%;
    padding: 1.5rem 0.5rem;
    text-align: center;
  }

  .modal-header {
    border: none;
    position: absolute;
    right: 0.5rem;
    padding: 0;
    top: 0.5rem;
    z-index: 12;
  }
}


