<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="shortcut icon" href="../assets/resources/virus2.jpg" />
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="../assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="../assets/css/tablecss.css">
  <title> 🇨🇴Colombia🦠</title>
</head>
<body>

<nav class="navbar navbar-dark bg-dark" >
  <span class="toggle-responsive-menu d-lg-none animated"
        [class.close]="!slideOut"
        (click)="toggleResponsiveMenu()">
    <hr>
    <hr>
    <hr>
  </span>
  <a class="navbar-brand" routerLink="/">
    🇨🇴
    COVID-19 COLOMBIA
    🦠
  </a>
  <ul class="navbar-list"
      [class.animated]="isMobile"
      [class.show]="showResponsiveMenu"
      [class.slideInLeft]="showResponsiveMenu"
      [class.slideOutLeft]="slideOut">
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/">Inicio</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/colombia">Colombia</a>
    </li>
    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
      <a class="link" routerLink="/informacion">Información</a>
    </li>
<!--    <li class="navbar-list-option" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">-->
<!--      <a class="link" routerLink="/novedades">Novedades</a>-->
<!--    </li>-->
  </ul>
</nav>

<router-outlet></router-outlet>

</body>

</html>
