.country-item {
  cursor: pointer;
}

.country-item.active {
  background-color: #d0d0d0;
}

.navbar {
  position: fixed;
  width: 100%;
  z-index: 9999;
  top: 0;
}

.container {
  margin-top: 4rem;
}
