.container {
  margin: 5rem auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin: 2rem 0;
}

mgl-map {
  //height: 600px;
  //width: 800px;
  width: 90vw;
  height: 90vh;
  border-radius: 0.2rem !important;
}


.dotImage {
  align-content: center;
  height: 30px;
  width: 30px;
  display: inline-block;
}

::ng-deep {
  .mapboxgl-popup-content {
    box-shadow: 0 0 17px rgb(128, 183, 68);
    padding: 1rem;
    font-variant: all-petite-caps;
    font-size: 15px;
  }

  canvas {
    border-radius: 0.3rem;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 1.5rem;
  }
}



/* to simplify readability of the component.ts */
::ng-deep .marker-cluster {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #6d152f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #56c498;
  cursor: pointer;
}

.marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #97e34f;
  display: flex;
  justify-content: center;
  font-stretch: condensed;
  align-items: center;
  font-size: 1rem;
  font-weight: bold;
  color: #210505;
  border: 2px solid #110505;

}
