//.container {
//  margin: 5rem auto;
//  display: flex;
//  justify-content: center;
//  flex-direction: column;
//  align-items: center;
//}

h1 {
  margin: 2rem 0;
}

.map-container {
  //height: 20rem;
  width: 100%;
  //width: 90vw;
  //height: 90vh;
  //border-radius: 0.2rem !important;
}

.dotImage {
  align-content: center;
  height: 30px;
  width: 30px;
  display: inline-block;
}

::ng-deep {
  .mapboxgl-popup-content {
    box-shadow: 0 0 17px rgb(128, 183, 68);
    padding: 1rem;
    font-variant: all-petite-caps;
    font-size: 15px;
  }

  canvas {
    border-radius: 0.3rem;
  }
}

@media (max-width: 991px) {
  h1 {
    font-size: 1.5rem;
  }
}


/*::ng-deep .marker-cluster {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #4f615a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #56c498;
  cursor: pointer;
}

.marker {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #7d7d7d;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #c9c9c9;
}*/

/* to simplify readability of the component.ts */
::ng-deep .marker-cluster {
  width: 50px;
  height: 50px;
  opacity: 0.8;
  border-radius: 50%;
  background-color: #bd1818;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #ebf3f1;
  cursor: pointer;
}

.marker {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4f615a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  border: 2px solid #56c498;
  cursor: pointer;
}

.box-info-item {
  padding: 0 0.3rem;
}
