<div class="row justify-content-md-end">

  <div *ngIf="!isMobile" class="col-md-1">

    <button  mat-button (click)="onNoClick()"><i class="fas fa-times"></i></button>

  </div>




</div>

<h5 class="title text-center"> {{data.dept}}</h5>


<app-table-places [placesList]="placeModelList" [showCities]="true"></app-table-places>
<!--<div mat-dialog-content>-->
<!--  <p></p>-->
<!--  <mat-form-field>-->
<!--    <input matInput [(ngModel)]="data.email">-->
<!--  </mat-form-field>-->
<!--</div>-->
<!--<div mat-dialog-actions>-->
<!--  <button mat-button (click)="onNoClick()">No</button>-->
<!--  <button mat-button [mat-dialog-close]="data.email" cdkFocusInitial>Yes</button>-->
<!--</div>-->
<!--<app-table-places></app-table-places>-->
