.container {
  margin-top: 5rem;
}

.chart-modal {
  visibility: hidden;
  box-shadow: 0 0.5rem 1rem rgba(0,0,0,.15);
  top: 4rem;
  z-index: 11;
  background-color: #fff;
  width: 100%;
  border-radius: 0.2rem;
  border: 1px solid lightgray;

  &.show {
    visibility: visible;
    position: fixed;
    height: 30rem;
  }

  .modal-body {
    height: 100%;
    width: 100%;
    padding: 1.5rem 0.5rem;
    text-align: center;
  }

  .modal-header {
    border: none;
    position: absolute;
    right: 0.5rem;
    padding: 0;
    top: 0.5rem;
    z-index: 12;
  }
}

.tabs-btn {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;

  .tab-btn {
    border: 1px solid lightgrey;
    margin: 0 0.5rem;
    padding: 0.5rem;
    border-radius: 0.3rem 0.3rem 0 0;
    cursor: pointer;
    color: white;
    background-color: lightgrey;

    &.active {
      color: #fff;
      background-color: #343a40;
      border-color: #454d55;
      box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    }
  }
}

.progress-bar {
  background-color: limegreen;
}

.table-container {
  border: 1px solid lightgray;
  border-radius: 0.2rem !important;
  margin: 0.3rem 0.5rem;
}

.tables-wrapper {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
}

@media (max-width: 991px) {
  .tables-wrapper  {
    display: block;
  }
}
