<section class="container">
  <ng-container *ngIf="!modalOpened">
    <div class="row d-none d-lg-block">
      <ng-container *ngTemplateOutlet="countryInfo"></ng-container>
    </div>
  </ng-container>
  <!--  <hr>-->


  <hr class="d-none d-lg-block">


  <div class="row">
    <div class="tabs-btn d-lg-none">
      <h5 class="tab-btn text-center" [class.active]="selectedTab.latam" (click)="selectTab('latam')">America Latina</h5>
      <h5 class="tab-btn text-center" [class.active]="selectedTab.global" (click)="selectTab('global')">Global</h5>
    </div>

    <div class="tables-wrapper">
      <div class="table-container shadow-sm p-3 mb-5 bg-white rounded animated flipInY" *ngIf="selectedTab.latam">
        <h5 class="text-center d-none d-lg-block">América Latina</h5>
        Recuperación:
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percentLA.percent + 8 + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percentLA.percent + '%'}}</div>
        </div>
        <hr>
        <app-table [countries]="latinCountries" (country)="onCountrySelected($event)"></app-table>
      </div>

      <div class="table-container shadow-sm p-3 mb-5 bg-white rounded animated flipInY" *ngIf="!isMobile || (isMobile && selectedTab.global)">
        <h5 class="text-center d-none d-lg-block">Global</h5>
        Recuperación:
        <div class="progress" style="height: 20px;">
          <div class="progress-bar" role="progressbar" [ngStyle]="{'width': percentGlobal.percent + '%'}" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">{{percentGlobal.percent + '%'}}</div>
        </div>
        <hr>
        <app-table [countries]="allCountries" (country)="onCountrySelected($event)"></app-table>
      </div>
    </div>
  </div>
  <hr>


</section>

<div class="chart-modal animated show"
     *ngIf="isMobile"
     [hidden]="!modalOpened"
     [class.zoomIn]="modalOpened"
     [class.zoomOut]="!modalOpened">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">&times;</button>
  </div>
  <div class="modal-body">
    <ng-container *ngTemplateOutlet="countryInfo"></ng-container>
  </div>
</div>

<ng-template #countryInfo>
  <div class="col-sm-12 chart-container" [class.full-width]="!colombia && !departmentsChart">
    <app-chart [chartData]="chartData" *ngIf="!colombia && chartData || colombia && chartData && departmentsChart"></app-chart>
    <hr class="d-lg-none">
    <app-chart *ngIf="colombia && departmentsChart" [chartData]="departmentsChart"></app-chart>
  </div>
  <app-info-boxes [currentCountry]="actualCountry"></app-info-boxes>
  <p class="see-more"><a *ngIf="colombia" routerLink="/colombia" class="see-more-link">Ver más</a></p>
</ng-template>
